*{
	margin:0;
	padding:0;
}
#head{
	width:100%;
	height:103px;
	background:#fff;
}
#head .head_title{
	width:1205px;
	height:103px;
	margin:0 auto;
}
.head_title .left{
	width:200px;
	height:23px;
	line-height: 23px;
	background:#fff;
	margin-top:63px;
	float:left;
	cursor: pointer;
}
.head_title .left span{
	padding:0 15px;
	/*float:left;*/
	
}
.head_title .left span a{
	text-decoration: none;
	font-size: 12px;
	color:#000;
	/*float:left;*/
}
.head_title .left img{
	vertical-align: middle;
}
.head_title .mid{
	width:193px;
	height:103px;
	float:left;
	margin:0 505px;
	margin-top:-89px;
	cursor: pointer;
}
.head_title .right{
	width:181px;
	height:23px;
	float:right;
	margin-top:-36px;
	background:#fff;
	border-bottom: 1px solid #a27b4c;
	cursor: pointer;
}
.head_title .right input{
	width:175px;
	height:21px;
	outline: none; 
	border:none;
	background: url(../images/so.jpg) no-repeat right;
}
.daohang{
	width:100%;
	height:45px;
	background:#1e4e41;
	cursor:pointer;
	/*position:relative;*/
}
.daohang .mid{
	width:725px;
	height:45px;
	margin:0 auto;
	overflow: hidden;
	/*background:red;*/
}
.daohang .mid a{
	/*display: block;*/
	text-decoration: none;
	width:100px;
	height:43px;
	float:left;
	color:#a27b4c;
	line-height: 45px;
	text-align: center;
	/*margin:0 35px;*/
	padding:0 10px;
	font-size:14px; 
	
}
.daohang .mid a.active{
	color:#fff;
	border-bottom: 3px solid #a27b4c;
}
.daohang .submenu{
	height:200px;
	position: relative;
	z-index: 2;
}
/*.submenu .ziti .left:hover{
	display: block;
}*/
.daohang .submenu .ziti{
	width:500px;
	line-height:38px;
	text-align: center;
	font-size:20px;
	color: #FFF;
	background: #fff;
	margin: 0 auto;
	position: absolute;
	left:397px;
	top: 0;
	display: none;
	/*box-sizing: border-box;*/
}
.daohang .submenu .ziti ul{
	width:250px;
	height:200px;
	/*border:1px solid #919191;*/
	float:left;
}
.submenu .ziti .tp{
	width:250px;
	height:200px;
	float:right;
}
.daohang .submenu .ziti .tp img{
	margin:50px 5px;
}
.daohang .submenu .ziti ul li{
	list-style:none;
	font-size: 14px;
	float:left;
	margin:0 30px;
	border-bottom:1px solid #919191;
	color:#000;
}
.ban{
	width:100%;
	height:340px;
	/*background:#c2d6d4;*/
}
.ban img{
	width:100%;
	height:340px;
}
.md{
	width:100%;
	height:1280px;
	background: #fff;
	border-bottom: 2px solid #a27b4c;
	/*border:1px solid red;*/
}
.md .jsh{
	width: 1000px;
	height:1015px;
	margin:0 auto;
	margin-top:53px;
	/*border:1px solid red;*/
}
.md .jsh .left{
	width: 230px;
	height:1280px;
	line-height:50px;
	float:left;
	/*border:1px solid red;*/
}
.md .jsh .left p{
	margin-left:30px;
}
.md .jsh .left ul{
	list-style:none;
	
}
.md .jsh .left ul li{
	width:230px;
	height: 50px;
	/*margin-left:30px; */
	line-height: 50px; 
	text-indent: 2em;
	border-bottom:1px solid #f5f5f5;
}
.md .jsh .left ul li:hover{
	background: #f5f5f5;display: block;
}
.md .jsh .right{
	width:740px;
	height:1280px;
	float:right;
	/*border:1px solid red;*/
}
.md .jsh .right .title{
	width: 740px;
	height:40px;
	line-height: 40px;
	border-bottom:1px solid #f5f5f5; 
}
.md .jsh .right .ditu{
	width: 740px;
	height: 630px;
}
.md .jsh .right .wangd{
	width:740px;
	height: 470px;
	margin-top:40px; 
	cursor:pointer;
	
}
.md .jsh .right .wangd .gund{
	width: 740px;
	height:328px;
	overflow: hidden;	
}
.md .jsh .right .wangd  ul{
	position: relative;
	top:10px;
}
.md .jsh .right .wangd  ul.move{
	transition: all 1.5s linear;
	top:-10px;
}
.md .jsh .right .wangd  ul li{
	overflow: hidden;
}
.md .jsh .right .wangd .title{
	width: 740px;
	height:35px;
	line-height: 35px;
	text-align: center; 
	font-size:20px;
	color:#1e4e41; 
}
.md .jsh .right .wangd .dg{
	width: 740px;
	height:40px;
	line-height:40px;
	background:#ececec;
	border:1px solid #d3d3d3; 
}
.md .jsh .right .wangd ul li{
	width: 740px;
	height:40px;
	line-height:40px;
	border-bottom:1px solid #d3d3d3; 
}
.md .jsh .right .wangd li span{
	margin-left:30px;
}
.md .jsh .right .wangd .dg span{
	margin-left: 30px;
}
.md .jsh .right .wangd .footer{
	width: 740px;
	height:54px; 
	line-height: 54px;
	
}
.md .jsh .right .wangd .footer button {
	/*display: inline-block;*/
	width: 30px;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	margin-left: 15px;
	border:none;
}
.md .jsh .right .wangd .footer a{
	text-decoration: none;
	color:#000;

}
.md .jsh .right .wangd .footer a:hover{
	color:#fff;
}
.md .jsh .right .wangd .footer button:hover{
	background:#1e4e41; 
}
.md .jsh .right .wangd .footer span{
	color:#999999;
}
.end{
	width: 100%;
	height:400px;
	background:#255d4e; 
	overflow: hidden;
}
.end .middle{
	width:100%;
	height:300px;
	overflow: hidden;
	background:#255d4e
}
.end .footer{
	width:100%;
	height:100px;
	overflow: hidden;
	border-top: 1px solid #a27b4c;
}

.end .middle .lis{
	width: 1205px;
	height:230px;
	margin:0 auto;
	margin-top:50px;
}
.end .middle .lis .lis1{
	width:198px;
	height:215px;
	line-height:20px; 
	float:left;
	/*border:1px solid red;*/
}
.end .middle .lis .lis1 ul{
	list-style:none;
	font-size:13px;
	color:#a9b5b1;
	cursor: pointer; 
}
.end .middle .lis .lis1 ul li:hover{
	color:#fff;
}
.end .middle .lis .lis1 p{
	width:170px;
	height: 30px;
	color:#fff;
	font-size: 15px;
	border-bottom: 1px solid #fff; 
}
.footer .you{
	width: 1205px;
	height:60px;
	margin:0 auto;
	margin-top:20px;
}
.footer .you p{
	color:#fff;
}
.footer .you p i{
	font-style:normal;
	color:#333333;
}
